{% extends 'model.html' %}
{% block title %}log in{% endblock %}
{% block container %}
<h1>CONGRATULATIONS!<br>Please log in your account!</h1>
<div class="row" style="text-align: center;">
        <div class="col-sm-4 col-sm-offset-4">
        	<br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3" style="text-align: center;">
            </div>
            <br><br>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"></span>
                <input type="text" class="form-control" placeholder="Password" aria-describedby="sizing-addon3" style="text-align: center;">
            </div>
            <br><br>
            <div>
            <button <li><a href="http://127.0.0.1:5000/main_page">Load</a></li>
             </button>
            </div>
        </div>
</div>
{% endblock%}