{% extends 'model.html' %}
 

 {% block title %}main page{% endblock %}
 {% block container %}
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/YptQdeUfeBTZERRBGdGCVm7amhA=/206x305/v1.bTsxMjcyMTY5MDtqOzE3ODc3OzEyMDA7NjMyOzk2MA" width="50" height="50">
      <div class="caption">
        <h3>VENOM</h3>
        <p>Investigative journalist Eddie Brock attempts a comeback following a scandal, but accidentally becomes the host of an alien symbiote that gives him a violent super alter-ego: Venom. Soon, he must rely on his newfound powers to protect the world from a shadowy organisation looking for a symbiote of their own.
        <br/>Rating:  PG-13 (for intense sequences of sci-fi violence and action, and for language)<br/>
        Genre:  Action & Adventure, Drama, Science Fiction & Fantasy
        Directed By:  Ruben Fleischer<br/>
        Written By: Scott Rosenberg, Jeff Pinkner, Kelly Marcel, Will Beall<br/>
        In Theaters:  Oct 5, 2018  Wide<br/>
        Runtime:  112 minutes<br/>
        Studio: Columbia Pictures</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Download</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/1-bk76cnGPuMF7tO8BMNN16g404=/206x305/v1.bTsxMjc3OTkyMDtqOzE3ODc3OzEyMDA7NzkwOzEyNTE" width="50" height="50">
      <div class="caption">
        <h3>The HOUSE WITH A CLOCK IN ITS WALLS</h3>
        <p>In the tradition of Amblin classics where fantastical events occur in the most unexpected places, Jack Black and two-time Academy Award (R) winner Cate Blanchett star in THE HOUSE WITH A CLOCK IN ITS WALLS, from Amblin Entertainment. The magical adventure tells the spine-tingling tale of 10-year-old Lewis (Owen Vaccaro) who goes to live with his uncle in a creaky old house with a mysterious tick-tocking heart. But his new town's sleepy façade jolts to life with a secret world of warlocks and witches when Lewis accidentally awakens the dead.<br/>
        Rating: PG (for thematic elements including sorcery, some action, scary images, rude humor and language)<br/>
        Genre:  Comedy, Kids & Family, Science Fiction & Fantasy<br/>
        Directed By:  Eli Roth
        Written By: Eric Kripke<br/>
        In Theaters:  Sep 21, 2018  Wide<br/>
        Runtime:  104 minutes<br/>
        Studio: Universal Pictures</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Download</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/q9tt8-0M4D8D1l-J3ANXXnaf_0U=/206x305/v1.bTsxMjgyNTUyMTtqOzE3ODc4OzEyMDA7Mzc1MDs1NzAw" width="50" height="50">
      <div class="caption">
        <h3>A SIMPLE FAVOR</h3>
        <p>A SIMPLE FAVOR, a stylish post-modern film noir directed by Paul Feig, centers around Stephanie (Anna Kendrick), a mommy blogger who seeks to uncover the truth behind her best friend Emily's (Blake Lively) sudden disappearance from their small town. Stephanie is joined by Emily's husband Sean (Henry Golding) in this thriller filled with twists and betrayals, secrets and revelations, love and loyalty, murder and revenge.<br/>
        Rating: R (for sexual content and language throughout, some graphic nude images, drug use and violence)<br/>
        Genre:  Mystery & Suspense<br/>
        Directed By:  Paul Feig<br/>
        Written By: Jessica Sharzer, Darcey Bell<br/>
        In Theaters:  Sep 14, 2018  Wide<br/>
        Runtime:  116 minutes<br/>
        Studio: Lionsgate</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Download</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/7fd21ganVJhb50-Ifjz_p-gWj-4=/206x305/v1.bTsxMjgyMjQ5MztqOzE3ODc4OzEyMDA7Mjc2NDs0MDk2" width="50" height="50">
      <div class="caption">
        <h3>CRAZY RICH ASIANS</h3>
        <p>"Crazy Rich Asians" follows native New Yorker Rachel Chu (Wu) as she accompanies her longtime boyfriend, Nick Young (Golding), to his best friend's wedding in Singapore. Excited about visiting Asia for the first time but nervous about meeting Nick's family, Rachel is unprepared to learn that Nick has neglected to mention a few key details about his life. It turns out that he is not only the scion of one of the country's wealthiest families but also one of its most sought-after bachelors. Being on Nick's arm puts a target on Rachel's back, with jealous socialites and, worse, Nick's own disapproving mother (Yeoh) taking aim. And it soon becomes clear that while money can't buy love, it can definitely complicate things.
        More<br/>
        Rating: PG-13 (for some suggestive content and language)<br/>
        Genre:  Comedy<br/>
        Directed By:  Jon M. Chu<br/>
        Written By: Peter Chiarelli, Adele Lim<br/>
        In Theaters:  Aug 15, 2018  Wide<br/>
        Runtime:  120 minutes<br/>
        Studio: Warner Bros. Pictures</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Download</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/gSTdZ4I5dIHq1ZusQu6AsZRTEdA=/206x305/v1.bTsxMjc3OTIyNztwOzE3ODc3OzEyMDA7ODAwOzExOTA" width="50" height="50">
      <div class="caption">
        <h3>THE PREDATOR</h3>
        <p>From the outer reaches of space to the small-town streets of suburbia, the hunt comes home in Shane Black's explosive reinvention of the Predator series. Now, the universe's most lethal hunters are stronger, smarter and deadlier than ever before, having genetically upgraded themselves with DNA from other species. When a young boy accidentally triggers their return to Earth, only a ragtag crew of ex-soldiers and a disgruntled science teacher can prevent the end of the human race.<br/>
        Rating: R (for strong bloody violence, language throughout, and crude sexual references)<br/>
        Genre:  Action & Adventure, Horror, Science Fiction & Fantasy
        Directed By:  Shane Black<br/>
        Written By: Shane Black, Fred Dekker<br/>
        In Theaters:  Sep 14, 2018  Wide<br/>
        Studio: 20th Century Fox</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Download</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://resizing.flixster.com/AasnsXGQQ1Tq99fJvAEscsO6Tpo=/206x305/v1.bTsxMjcwOTMwMDtqOzE3ODc3OzEyMDA7MTk0NDsyODgw" width="50" height="50">
      <div class="caption">
        <h3>VENOM</h3>
        <p>After nearly forty years of marriage, JOAN and JOE CASTLEMAN (Glenn Close and Jonathan Pryce) are complements. Where Joe is casual, Joan is elegant. Where Joe is vain, Joan is self-effacing. And where Joe enjoys his very public role as Great American Novelist, Joan pours her considerable intellect, grace, charm, and diplomacy into the private role of Great Man's Wife. Joe is about to be awarded the Nobel Prize for his acclaimed and prolific body of work. Joe's literary star has blazed since he and Joan first met in the late 1950. THE WIFE interweaves the story of the couple's youthful passion and ambition with a portrait of a marriage, thirty-plus years later--a lifetime's shared compromises, secrets, betrayals, and mutual love.
        More<br/>
        Rating: R (for language and some sexual content)<br/>
        Genre:  Drama<br/>
        Directed By:  Björn Runge<br/>
        Written By: Jane Anderson<br/>
        In Theaters:  Aug 17, 2018  Limited<br/>
        Runtime:  100 minutes<br/>
        Studio: Sony Pictures Classics</p>
        <p><a href="#" class="btn btn-primary" role="button">View</a> <a href="#" class="btn btn-default" role="button">Download</a></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}